.hoje {
  color: darkred;
}

.amanha {
  color: darkblue;
}

#fonte {
  font-size: 20px;
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
}

#cor {
  color: seagreen;
}
.underline {
  text-decoration: none;
}
